@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

body {
    display: grid;
    padding-block: 2rem;
    font-size: 0.938rem;
    min-height: 50vh;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ECF2F8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.one,
.two,
.three,
.four,
.five,
.six{
    border-radius: 5px;
    background-color: #FFF;
}

.color_1,
.color_2,
.color_3,
.color_4,
.color_5,
.color_6{
    height: 23px;
    margin-bottom: 0;
    margin-top: 0;
}
span{
    background-color: #E748a2;
    border-radius: 50%;
}

.color_1{
    background-color: #E748a2;
}
.color_2{
    background-color: #32bfce;
}
.color_3{
    background-color: #43bd46;
}
.color_4{
    background-color: #e5e800;
}
.color_5{
    background-color: #c17ff0;
}


.color_6{
    background-color: #ee7bbc;  
}


.container{
    display: grid;
    margin: 0 auto;
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f';
    gap: 2rem;
}

.one{
    grid-area: a;
    border-style: solid;
}

.two{
    grid-area: b;
}

.three{
    grid-area: c;
}

.four{
    grid-area: d;
}

.five{
    grid-area: e;
}

.six{
    grid-area: f;
}








/*Media query*/


@media screen and (min-width: 800px) {
    .container{
        grid-template-areas: "a b" "c d" "e f";
    }
}

  
 
@media screen and (min-width: 1200px) {
    .container {
        grid-template-areas:"a b c" "d e f";
    }
}